@use '../../animations';
@use '../../variables' as global;

$color: global.$colorCompoundBrandBackground !default;
$track-color: global.$colorNeutralBackground6 !default;
$size-small: 24px;
$size-medium: 32px;
$size-large: 48px;

.ui-CircularProgress {
    display: inline-flex;
    position: relative;
    line-height: 0;
    transition: animations.exit-temporary(opacity, 250ms);

    &__container {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: rotate(-90deg);
    }

    &__circle-graphic {
        fill: transparent;
    }

    &__circle {
        stroke: $color;
        transition: animations.enter(stroke-dashoffset, 500ms);
    }

    &__track {
        stroke: $color;
    }

    &--small {
        width: $size-small;
        height: $size-small;
    }

    &--medium {
        width: $size-medium;
        height: $size-medium;
    }

    &--large {
        width: $size-large;
        height: $size-large;
    }
}