@use 'shared/styles/animations';
@use './variables';
@use './mixins';

.ui-CircularProgress {
    display: inline-flex;
    position: relative;
    line-height: 0;
    transition: animations.exit-temporary(opacity, 250ms);

    &__container {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: rotate(-90deg);
    }

    &__circle-graphic {
        fill: transparent;
    }

    &__circle {
        transition: animations.enter(stroke-dashoffset, 500ms);
    }

    &--small {
        width: variables.$size-small;
        height: variables.$size-small;
    }

    &--medium {
        width: variables.$size-medium;
        height: variables.$size-medium;
    }

    &--large {
        width: variables.$size-large;
        height: variables.$size-large;
    }
}

@include mixins.color(variables.$color);
@include mixins.track-color(variables.$track-color);